.delivery {
  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    @media (max-width: $mobile) {
      margin-bottom: 10px;
    }
  }
  &__item {
    margin-bottom: 14px;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    &:last-child {
      margin-bottom: 18px;
    }
    &-wrapper {
      width: 100%;
    }
    & p:nth-child(1) {
      width: 153px;
    }
    @media (max-width: $mobile) {
      flex-direction: column;
      gap: 0;
      margin-bottom: 12px;
      &_thumbs {
        gap: 16px;
        margin-bottom: 18px;
      }
    }
  }
  &__content {
    flex-grow: 2;
    &_thumbs {
      display: flex;
      gap: .5rem;
    }
  } 
  &__back {
    display: flex;
    align-items: center;
    position: relative;
    &-icon {
      display: inline-block;
      background: url('/public/back_ship_icon.svg') no-repeat center;
      min-width: 22px;
      height: 22px;
      margin-right: 0.5rem;
    }
    @media (max-width: $mobile) {
      max-width: 90%;
      margin: 0 auto;
    }
  }
}

.thumb {
  &-icons__wrapper {
    display: inline-block;
    position: relative;
    img {
      width: 40px;
      height: 54px;
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1rem;
    height: 1rem;
    background-color: var(--coral);
    border-radius: 12px;
    padding: 0px 4px 0px 4px;
    position: absolute;
    top: -10px;
    right: -5px;
    color: var(--white);
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 180% */
  }
}
.back-delivery {
  position: relative;
}