.footer {
  flex-shrink: 0;
  padding: 1.5rem;
  &__container {
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
  }
  &__menu-wrapper {
    display: none;

    @media (max-width: $mobile) {
      display: flex;
      justify-content: center;
      gap: max(40px, 1vw);
      justify-items: center;
      align-items: center;
      padding: 14px 13px;
      background-color: var(--white);
    }
  }
  &__icon {
    width: 28px;
    height: 28px;
    background-image: url('./home_icon.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    &:hover {
      cursor: pointer;
    }
    &:nth-child(2) {
      background-image: url('./search_icon_footer.svg');
    }
    &:nth-child(3) {
      background-image: url('./cart_icon_pink.svg');
    }
    &:nth-child(4) {
      background-image: url('./favorite_icon.svg');
    }
    &:nth-child(5) {
      background-image: url('./profile_icon_footer.svg');
    }
  }
}