
.header {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--white);
  padding: 16px 0px 20px 24px;
  @media (max-width: $mobile) {
    gap: 0px;
    justify-content: center;
    padding: 0;
    padding-bottom: 11px;
  }
  &__main-block {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    @media (max-width: $mobile) {
      justify-content: center;
      flex-grow: 2;
      gap: 22px;
    }
  }
  &__burger {
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--grey-border);
    border-radius: 0.5rem;
    background: url('/burger_icon.svg') no-repeat center;
    background-size: 1.75rem 1.5rem;
    background-position: 50% 60%;
    @media (max-width: $mobile) {
      background: url('/burger_icon_mobile.svg') no-repeat center;
      width: 28px;
      height: 28px;
      background-size: 80% 80%;
      border: none;
      transform: translateX(2px) translateY(4px);
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__logo {
    max-width: 108px;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem; /* 85.714% */
    font-variant: all-small-caps;
    letter-spacing: 0.6px;
    @media (max-width: $mobile) {
      font-size: 26px;
      letter-spacing: 0.52px;
      max-width: 100%;
    }
  }
  &__customer {
    flex: 0 0 170px;
    display: flex;
    gap: 40px;
    @media (max-width: $mobile) {
      display: none;
    }
  }
  &__icon-block {
    display: flex;
    width: 56px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  &__icon-img {
    position: relative;
    display: block;
    width: 28px;
    height: 28px;
  }
  &__icon_count {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: var(--orange);
    top: -4px;
    right: -4px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
  }
  &__search {
    flex-grow: 2;
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; 
    opacity: 0.5;
    border-radius: 2.25rem;
    background-color: var(--white-transparent);
    margin-top: 1px;
    padding: 10px 20px 13px;
    @media (max-width: $mobile) {
      background-color: var(--violet);
      flex-grow: 1;
      padding: 10px;
      justify-content: center;
    }
    &-icon {
      all: unset;
      cursor: pointer;
      background: url('/search_icon.svg') no-repeat center;
      width: 24px;
      height: 1.5rem;
      background-position: 2px 4px;
      background-size: 24px 24px;
    }
    #search {
      all: unset;
      width: 100%;
      &::placeholder {
        color: var(--white);
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem; 
      }
      @media (max-width: $mobile) {
        display: none;
      }
    }
  }
}


#profile {
  background: url('/profil_icon.svg') no-repeat center;
  background-size: 100% auto;
  background-position: 0px 1px;
}
#cart {
  background: url('/cart_icon.svg') no-repeat center;
  background-size: 100% auto;
  background-position: -5px 0px;
}