.payment {
  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  &__item {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    &-wrapper {
      width: 100%;
      & span:nth-child(2) {
        margin-left: 6px;
      }
    }
    & p:nth-child(1) {
      width: 153px;
    }
  }

  &__card-number-wrapper {
    & span:nth-child(3) {
      margin-left: 12px;
    }
  }
}

.extra-space {
  padding-top: 14px;
}