$imageHeight: 96px;
$imageWidth: 72px;
$lineHeight: 20px;

.product-item {
  width: 100%;
  display: flex;
  gap: 14px;
  margin-bottom: 2rem;
  position: relative;
  &:last-child {
    margin-bottom: 38px;
  }
  @media (max-width: $mobile) {
    display: grid;
    column-gap: 1rem;
    row-gap: 4px;
    grid-template-columns: calc($imageWidth + 0.5rem) 2fr;
    // grid-template-rows: repeat(6, $lineHeight);
    grid-template-rows: 24px minmax(78px, 1fr) auto;
    grid-template-areas: 'image price' 'image props' 'counter counter';
    padding-bottom: 18px;
    margin-bottom: 12px;
    border-bottom: 1px solid var(--grey-divider);
    &:last-child {
      margin-bottom: 20px;
    }
  }
  &__detail {
    display: flex;
    flex-grow: 1;
    gap: 1rem;
  } 

  &__block {
    display: flex;
    gap: 12px;
    align-self: flex-start;
    @media (max-width: $mobile) {
      width: 100%;
    }
    &:last-child {
      margin-left: auto;
      justify-content: center;
      @media (max-width: $mobile) {
        margin-left: 0;
        flex-grow: 2;
      }
    }
    &_short {
      align-items: center;
      justify-content: center;
    }
  }
  &__image {
    width: $imageWidth;
    height: $imageHeight;
    flex-shrink: 0;
    position: relative;
    @media (max-width: $mobile) {
      width: calc($imageWidth + 0.5rem);
      height: calc($imageHeight + 10px);
    }
    img {
      display: block;
      object-fit: cover;
      width: 100%;
      grid-area: image;
    }
  }

  &__size-icon {
    opacity: 0;
    width: 0;
    height: 0;
    background-color: var(--white);
    margin: 0;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    @media (max-width: $mobile) {
      opacity: 1;
      height: 22px;
      width: 22px;
      position: absolute;
      bottom: 4px;
      left: 4px;
      z-index: 3;
    }
  }

  &__checkbox {
    height: $imageHeight;
    display: flex;
    align-items: center;
    @media (max-width: $mobile) {
      position: absolute;
      z-index: 3;
      display: block;
      top: 4px;
      left: 4px;
    }
  }

  &__price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 115px;
    @media (max-width: $tablet) {
      width: 80px;
      align-items: center;
    }
    @media (max-width: $mobile) {
      flex-direction: row;
      width: 100%;
      grid-area: price;
      gap: 4px;
      letter-spacing: -0.3px;

    }
  }

  &__counter {
    background-color: var(--white);
    border-radius: 0.5rem;
    padding: 5px 6px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    @media (max-width: $mobile) {
      width: 80px;
    }
    @media (max-width: $mobile) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 16px; 
      padding: 2px 6px 6px 6px;
      
    }
    &-block {
      @media (max-width: $mobile) {
        grid-area: counter;
        display: flex;
        align-items: center;
        // justify-content: space-between;
        width: 100%;
        padding: 0;
        margin-top: 8px;
      }
    }
    }

  &__props {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin-right: auto;
    @media (max-width: $mobile) {
      grid-area: props;
      gap: 4px;
    }
    div:nth-child(3) {
      margin-top: 10px;
      @media (max-width: $mobile) {
        margin-top: 0;
      }
    }
    span[data-props='size'] {
      margin-left: 12px;
      @media (max-width: $tablet) {
        margin-left: 0;
      }
    }
    &_large {
      max-width: 310px;
    }
  }
  &__icons-block {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
    margin-top: 6px;
    height: 22px;
    @media all and (max-width: $mobile) {
      gap: 24px;
      height: 20px;
      margin-top: 0;
      margin-left: auto;
      padding-right: 14px;
    }
  }
  &__text {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    &_bold {
      font-weight: 700;
    }
    &_small {
      font-size: 0.8125rem;
      font-style: normal;
      line-height: 1rem;
    }
    &_large {
      font-size: 1.25rem;
      font-style: normal;
      line-height: 140%;
      letter-spacing: -0.2px;
      @media all and (max-width: $mobile) {
        font-size: 1rem;;
      }
    }
  }
  
  &__icon-info {
    display: inline-block;
    position: relative;
    width: 20px;
    height: auto;
    svg {
      position: absolute;
      bottom: -6px;
      left: 2px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
.absent {
  width: 100px;
  margin-right: 130px;
  @media (max-width: $tablet) {
    margin-right: 90px;
  }
  @media (max-width: $mobile) {
    justify-self: flex-end;
    margin-right: 0;
    width: 60px;
  }
}

.product-item {
  &_grey {
    span:not(.product-item__icon-info), p, h4 {
      color: var(--grey);
    }
    img {
      filter: grayscale(1);
    }
    @media (max-width: $mobile) {
      grid-template-areas: 'image props' 'image props' 'counter counter';
    }
  } 
}

.overwritten {
  text-decoration: line-through;
  border-bottom: 1px dashed var(--grey);
  color: var(--grey);
}


.product-delete {
  height: 100%;
  &:hover {
    cursor: pointer;
    & path {
      fill: var(--coral);
    }
  }
  &_active path {
    fill: var(--coral);
  }
}

.product-favorite {
  height: 100%;
  &:hover {
    cursor: pointer;
    & path {
      fill: var(--pink);
    }
  }
  &_active path {
    fill: var(--pink);
  }
}

input[type="checkbox"]:not(.checkbox-hack) {
  display: -ms-inline-grid;
  appearance: none;
  background-color: transparent;
  margin: 0;
  font: inherit;
  color: var(--pink);
  width: 22px;
  height: 22px;
  border-radius: 7px;
  border: 1px solid var(--grey);
  transform: translateY(-0.075em);
  place-content: center;
}
input[type="checkbox"]:not(.checkbox-hack):checked {
  background-color: var(--pink);
  background: url('/hack_icon.svg') no-repeat center var(--pink);
  background-position: 50% 0%;
  background-size: 30px 30px;
  border: none;
}

span[data-product*="rest"] {
  display: inline-block;
  margin-bottom: 2px;
}

span[data-props="size"] {
  @media all and (max-width: $mobile) {
    display: none;
  }
}
span[data-props="amount"] {
  @media all and (max-width: $mobile) {
    font-size: 14px;
  }
}




h4.product-item__text {
  @media (max-width: $mobile) {
    font-size: 14px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
  }
}

#seller {
  @media (max-width: $mobile) {
    display: none;
  }
}

.hidden {
  display: none;
}

.transparent {
  opacity: 0;
}

#discount-price {
  &:hover {
    cursor: pointer;
  }
}