@import './normalize.css';
@import './vars.css';
@import './typographic.css';
@import './header.css';
@import './cart.css';
@import './product.css';
@import './delivery.css';
@import './payment.css';
@import './customer.css';
@import './order.css';
@import './footer.css';
@import './tooltip.css';
@import './modal.css';

:root {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: 'Segoe UI', sans-serif;
  box-sizing: border-box;
}
body {
  background-color: var(--violet);
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}
#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}
main {
  flex-grow: 2;
  display: flex;
}
