:root {
  --orange: #f55123;
  --violet: #6725a8;
  --pink: #cb11ab;
  --white: #ffffff;
  --black: #000000;
  --grey: #9797af;
  --grey-smoky: #f6f6fa;
  --smoky-dark: #f0ecf4;
  --green: #0cd38b;
  --light-orange: #ff970d;
  --coral: #ff3b30;
  --grey-transparent: rgba(0, 0, 0, 0.2);
  --white-transparent: rgba(255, 255, 255, 0.2);
  --grey-divider: rgba(0, 0, 0, 0.1);
  --grey-border: rgba(255, 255, 255, 0.45);
  --grey-modal: rgba(5, 0, 10, 0.3);
}
